<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Productos</title>
    <link rel="stylesheet" type="text/css" href="../css/products.css">

</head>
<body>
    <header>
        <h1>Listado de Productos</h1>
    </header>
    <div>
        <ul>
            <% products.forEach(function(product) { %>
                <li>
                    <p><strong>Nombre:</strong> <%= product.product_name %></p>
                    <p><strong>Precio:</strong> <%= product.price %></p>
                    <p><strong>Stock:</strong> <%= product.stock_quantity %></p>
                </li>
            <% }); %>
        </ul>
    </div>
</body>
</html>
